.album-detail {
  width: 100%;
  height: 100%;
  &__title {
    margin: 49px 15px 20px 15px;
    font-size: 18px;
  }
  &__list {
    display: flex;
    padding: 15px;
    justify-content: center;
    &-wrapper {
      display: grid;
      grid-template-columns: 290px;
      grid-template-rows: 186px;
      grid-auto-rows: 186px;
      grid-auto-flow: row;
      gap: 40px;
    }
  }
}

@media screen and (min-width: 620px) {
  .album-detail {
    &__list {
      &-wrapper {
        grid-template-columns: repeat(2, 290px);
        gap: 10px;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .album-detail {
    padding-top: 20px;
    &__title {
      margin-top: 20px;
      font-size: 24px;
      text-align: center;
    }
    &__list {
      padding: 20px;
      &-wrapper {
        grid-template-columns: repeat(2, 350px);
        grid-template-rows: 225px;
        grid-auto-rows: 225px;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .album-detail {
    &__title {
      font-size: 36px;
    }
    &__list {
      &-wrapper {
        gap: 20px;
        grid-template-columns: repeat(3, minmax(315px, 1fr));
      }
    }
  }
}

@media screen and (min-width: 1130px) {
  .album-detail {
    &__list {
      &-wrapper {
        grid-template-columns: repeat(3, minmax(350px, 1fr));
        grid-template-rows: 260px;
        grid-auto-rows: 260px;
      }
    }
  }
}

@media screen and (min-width: 1445px) {
  .album-detail {
    &__list {
      &-wrapper {
        grid-template-columns: repeat(3, minmax(455px, 1fr));
        grid-template-rows: 293px;
        grid-auto-rows: 293px;
      }
    }
  }
}

@media screen and (min-width: 1920px) {
  .album-detail {
    &__list {
      &-wrapper {
        grid-template-columns: repeat(4, minmax(455px, 1fr));
      }
    }
  }
}
