.img-card {
  width: 290px;
  height: 186px;
  background-color: pink;
  outline: 2px solid greenyellow;
}

@media screen and (min-width: 768px) {
  .img-card {
    width: 350px;
    height: 225;
  }
}

@media screen and (min-width: 1024px) {
  .img-card {
    width: 455px;
    height: 293px;
  }
}
