.tabbar {
  position: fixed;
  display: flex;
  width: 100%;
  height: 48px;
  padding: 15px 30px;
  bottom: 0;
  left: 0;
  background-color: rgb(17, 17, 17, 1);
  justify-content: space-between;
  &__search {
    order: 2;
  }
  &__submit {
    order: 1;
  }
  &__bell {
    order: 3;
  }
}

@media screen and (min-width: 768px) {
  .tabbar {
    bottom: unset;
    top: 0;
    gap: 20px;
    padding: 20px;
    &__search,
    &__submit,
    &__bell {
      order: unset;
    }
    &__submit {
      margin-left: auto;
    }
    &-top {
      display: none;
    }
  }
}
