.modal-backdrop {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  padding: 20px;
  backdrop-filter: blur(75px);
  z-index: 11;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

@media screen and (min-width: 1024px) {
  .modal-backdrop {
    z-index: 9;
  }
}
